[submodule "git-hangup-investigation"]
	path = git-hangup-investigation
	url = git@github.com:TakashiSasaki/public
	branch = git-hangup-investigation
[submodule "llama-cpp-tk"]
	path = llama-cpp-tk
	url = git@github.com:TakashiSasaki/public
	branch = llama-cpp-tk
[submodule "mouse-pointer"]
	path = mouse-pointer
	url = git@github.com:TakashiSasaki/public
	branch = mouse-pointer
[submodule "pictogram"]
	path = pictogram
	url = git@github.com:TakashiSasaki/public
	branch = pictogram
[submodule "shellex-rust"]
	path = shellex-rust
	url = git@github.com:TakashiSasaki/public
	branch = shellex-rust
[submodule "githooks"]
	path = githooks
	url = git@github.com:TakashiSasaki/public
	branch = githooks
