[submodule "git-hangup-investigation"]
	path = git-hangup-investigation
	url = https://github.com/TakashiSasaki/public.git
	branch = git-hangup-investigation
[submodule "llama-cpp-tk"]
	path = llama-cpp-tk
	url = https://github.com/TakashiSasaki/public.git
	branch = llama-cpp-tk
[submodule "mouse-pointer"]
	path = mouse-pointer
	url = https://github.com/TakashiSasaki/public.git
	branch = mouse-pointer
[submodule "pictogram"]
	path = pictogram
	url = https://github.com/TakashiSasaki/public.git
	branch = pictogram
[submodule "shellex-rust"]
	path = shellex-rust
	url = https://github.com/TakashiSasaki/public.git
	branch = shellex-rust
[submodule "githooks"]
	path = githooks
	url = https://github.com/TakashiSasaki/public.git
	branch = githooks
[submodule "feat/mcp-filelist-server"]
	path = feat/mcp-filelist-server
	url = https://github.com/TakashiSasaki/windows-moukaeritai-work.git
	branch = feat/mcp-filelist-server
[submodule "mcp"]
	path = mcp
	url = https://github.com/TakashiSasaki/windows-moukaeritai-work.git
	branch = mcp
[submodule "remove-desktop-ini"]
	path = remove-desktop-ini
	url = https://github.com/TakashiSasaki/windows-moukaeritai-work.git
	branch = remove-desktop-ini
[submodule "test/add-http-tests-and-fix-stdio"]
	path = test/add-http-tests-and-fix-stdio
	url = https://github.com/TakashiSasaki/windows-moukaeritai-work.git
	branch = test/add-http-tests-and-fix-stdio
[submodule "windows-moukaeritai-work"]
	path = windows-moukaeritai-work
	url = https://github.com/TakashiSasaki/windows-moukaeritai-work.git
	branch = windows-moukaeritai-work

[submodule "git-lfs-lite"]
	path = git-lfs-lite
	url = https://github.com/TakashiSasaki/public.git
	branch = git-lfs-lite
[submodule "mdns-inspector"]
	path = mdns-inspector
	url = https://github.com/TakashiSasaki/public.git
	branch = mdns-inspector
[submodule "hello"]
	path = hello
	url = https://github.com/TakashiSasaki/hello.git
	branch = main
[submodule "static-lunr"]
	path = static-lunr
	url = https://github.com/TakashiSasaki/public.git
	branch = static-lunr
